# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://youruser:yourpass@localhost:5433/yourdb?schema=public"

# REDIS CACHE
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=yourredispass

# JWT_SECRET="sikritbroooow"
JWT_SECRET="jwt_secret"
TIME_ZONE="a/c"

CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Hugging Face API Token for face recognition (external service)
HF_API_TOKEN="hf_api_token"

# external api for face matching
FLASK_MATCH_URL="http://127.0.0.1:5000/v1/faces/match"

# Web Push (VAPID Keys) (notification)
VAPID_PUBLIC_KEY="your_vapid_public_key"
VAPID_PRIVATE_KEY="your_vapid_private_key"


# RabbitMQ for message queue
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER="your_rabbitmq_user"
RABBITMQ_PASS="your_rabbitmq_pass"
RABBITMQ_URL="amqp://your_rabbitmq_user:your_rabbitmq_pass@localhost:5672"
RABBITMQ_MANAGEMENT_URL="http://localhost:15672"

OPENROUTER_API_KEY="your_openrouter_api_key"

# SMTP Configuration for sending emails
SMTP_HOST=smtp.mail.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER="yourmail@mail.com"
SMTP_PASS="mail_password"
SMTP_FROM_EMAIL="yourmail@mail.com"
SMTP_FROM_NAME="Aplikasi Absensi Karyawan"

# WEB_BASE_URL optional but recommended for absolute links
WEB_BASE_URL="http://localhost:5173"